.inline {
    display: inline-block;
    padding: 10px;
}

.round-complete {
    background: silver;
}

.vcenter {
    display: flex;
    align-items: center;
} 

.btn.btn-outline-default {
    margin: 5px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 100px
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    beight: 100px;
}

ul {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.container {
    padding-top: 60px;
}

#player-count {
    margin-top: 10px;
}

.center-align {
    text-align: center;
}

.pairing-item {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    display: table;
    overflow: hidden;
}

.list-item-cust {
    height: 50px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}