.inline {
    display: inline-block;
    padding: 10px;
}

.round-complete {
    background: silver;
}

.btn {
    margin: 5px
}

.vcenter {
    display: flex;
    align-items: center;
}